<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>스마트 토론 모듈</title>
    <link rel="stylesheet" href="/css/smart-discussion.css" />
</head>
<body>

    <%- include('partials/smart-discussion') %>

    <script src="/js/smart-discussion.js"></script>
</body>
</html>
